extends ../layout

block content
    .container
        .row
            .col-lg-12
                a.btn.btn-info(href='/bicicletas') Volver
                br
                br
                br

                h1 Nueva Bicicleta

                br
                br

                form(action='/bicicletas/create' method='post')
                    #form-group
                        label(for='id') ID
                        input#id(type='text' name='id')
                    br
                    #form-group
                        label(for='color') Color
                        input#color(type='text' name='color')
                    br
                    #form-group
                        label(for='modelo') Modelo
                        input#modelo(type='text' name='modelo')
                    br
                    #form-group
                        label(for='lat') Latitud
                        input#lat(type='text' name='latitud')
                    br
                    #form-group
                        label(for='long') Longitud
                        input#long(type='text' name='longitud')
                    br
                    br
                    input.btn.btn-success(type='submit' value='OK')