extends ../layout

block content
    .container
        .row
            .col-lg-12
                a.btn.btn-info(href='/bicicletas') Volver
                br
                br
                br

                h1 Edición de Bicicleta

                br
                br

                form(action='/bicicletas/update' method='post')
                    #form-group
                        label(for='id') ID
                        input#id(type='text' name='id' value=bici.id readonly)
                    br
                    #form-group
                        label(for='color') Color
                        input#color(type='text' name='color' value=bici.color)
                    br
                    #form-group
                        label(for='modelo') Modelo
                        input#modelo(type='text' name='modelo' value=bici.modelo)
                    br
                    #form-group
                        label(for='lat') Latitud
                        input#lat(type='text' name='latitud' value=bici.ubicacion[0])
                    br
                    #form-group
                        label(for='long') Longitud
                        input#long(type='text' name='longitud' value=bici.ubicacion[1]) 
                    br
                    br
                    input.btn.btn-success(type='submit' value='Actualizar')