extends ../layout

block content
    a(href='/bicicletas/create') Crear nueva
    table.table
        thead
            tr
                th #
                th Color
                th Modelo   
                th Ubicacion
                th
                th
        tbody   
            each bici in bicis
                tr
                    td= bici.id
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        
                        form.inline(method='post' action='bicicletas/'+bici.id +'/edit')
                            input(type='hidden' name='id' value=bici.id)
                            button.link-button(type='submit' value='submit_value' class='btn btn-info') Editar
                    td
                        form.inline(method='post' action='bicicletas/'+bici.id +'/delete')
                            input(type='hidden' name='id' value=bici.id)
                            button.link-button(type='submit' value='submit_value' class='btn btn-info') Eliminar